<div class="card panel-default">
  <div class="card-heading">
    <h1>Add New Post</h1>
  </div>
  <div class="card-body">
    <%= render 'posts/form', post: @post %>
  </div>
</div>
<%= link_to 'Back', posts_path,class: "btn btn-primary", style: "color:white" %>